:root {
	/* startje */
	--color-text: #222222;
	--color-background: #eee;
	--abn-darkgreen: #004C4C;
	--altbutton-color: #FFD200;
	--article-line-height: 24px;
	font-family: abnamrosans;
	background-color: #f3f3f3;
}

main > section:nth-of-type(1){
    display: flex;
    flex-direction: column;
    background-color: red;
}

main > section:nth-of-type(1) img{
order:1;
}

main > section:nth-of-type(1) h1{
order:2;
}

main > section:nth-of-type(1) h2{
order:3;
}

main > section:nth-of-type(1) p{
order:4;
}