/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

/********************************************
algemene css
********************************************/



:root {
	/* startje */

	--color-text: #222222;
	--color-background: #eee;
	--abn-darkgreen: #004C4C;
	--altbutton-color: #FFD200;
	font-family: abnamrosans;
	background-color: #eee;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}



body {
	scroll-behavior: smooth;
}

h2 {
	padding: 0;
	margin: 0;
	font-weight: 500;
}

a {
	color: black;
	text-decoration: none;
}

a:focus,
button:focus{
	outline-color: red;
	outline-style:groove;
	outline-width: .2em;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
}

@media(min-width:768px) {
	p {
		font-size: 18px;
		font-weight: 200;
	}
}

/********************************************
css voor nav
********************************************/


nav {
	display: grid;
	grid-template-areas:
		"a b c"
		"d e f";
	grid-template-columns: auto 1fr 1fr;
	grid-template-rows: 3.75rem 4.5rem;
}

nav button {
	display: flex;
	align-items: center;
	border: none;
	background-color: none;
	background: none;
	font-weight: 600;
	color: #004C4C;
	font-size: 1em;
}

nav:nth-of-type(1) ul {
	display: contents;
	list-style-type: none;
}



nav ul li:nth-of-type(3) {
	grid-area: f;
	justify-self: end;
	align-self: start;
}

nav ul li:nth-of-type(2) {
	grid-area: c;
	justify-self: end;
}

nav ul li:nth-of-type(3) ul {
	display: flex;
}

nav ul li:nth-of-type(3) ul button {
	height: 2.5rem;
	width: 2.5rem;
	display: flex;
	align-items: center;
	justify-items: center;
}


nav ul li:nth-of-type(3) ul button:hover {
	background-color: #a7a7a7;
	border-radius: 20%;
}

nav svg {
	stroke: black;
	height: 3rem;
}

nav ul li button img {
	width: 2rem;
}

nav ul li ul li button>svg:first-of-type {
	stroke: var(--abn-darkgreen);
	stroke-width: .005em;
	vertical-align: middle;
	justify-self: center;
}

nav:nth-of-type(1) ul li ul>li:nth-of-type(3) button {
	/* background-color: #004C4C; */
	display: flex;
	align-items: center;
	justify-items: center;
}

nav>img:first-of-type {
	grid-area: d;
	height: 2.2rem;
	max-width: none;
}

nav:nth-of-type(1) ul a {
	margin-left: 1em;
	color: var(--color-text);
	text-decoration: none;
}

nav:nth-of-type(1) ul a:hover {
	color: var(--abn-darkgreen);
}

body>nav>ul>li:nth-of-type(1) {
	position: relative;

}

body>nav>ul>li:nth-of-type(1)>ul {
	/* transform: translate(9999px);
	position: absolute;
	width: 1rem;
	top: 120%;
	left: 0;
	background-color: rgb(0, 0, 0);
	z-index: 9999;
	list-style: none;
	padding: 0;
	margin: 0;
	box-shadow: 10px black;
	overflow: hidden; */
}

body>nav>ul>li:nth-of-type(1)>ul li {
	transform: translateX(9999px);
	background-color: rgb(255, 255, 255);
	color: var(--abn-darkgreen);
	width: 100%;
	padding: .75rem;
	padding-inline-start: 1rem;
	box-shadow: 7px 2px 5px 0px rgba(0, 0, 0, 0.32);
}

li.menuOpen{
	transform: translateX(0px);
}

body>nav>ul>li:nth-of-type(1)>ul li:nth-of-type(1) {
	border-radius: 10px 10px 0 0;
}

body>nav>ul>li:nth-of-type(1)>ul li:nth-of-type(2) {
	border-radius: 0 0 10px 10px;

}

nav:nth-of-type(1) {
	padding-top: 1em;
}

body>nav>ul>li:nth-of-type(2) {
	position: relative;

}

body>nav>ul>li:nth-of-type(2)>ul {
	display: none;
	position: absolute;
	width: 1rem;
	top: 120%;
	left: 0;
	background-color: rgb(0, 0, 0);
	z-index: 9999;
	list-style: none;
	padding: 0;
	margin: 0;
	box-shadow: 10px black;
	overflow: hidden;
}

body>nav>ul>li:nth-of-type(2)>ul li {
	background-color: rgb(255, 255, 255);
	color: var(--abn-darkgreen);
	width: 100%;
	padding: .75rem;
	padding-inline-start: 1rem;
	box-shadow: 7px 2px 5px 0px rgba(0, 0, 0, 0.32);
}

body>nav>ul>li:nth-of-type(2)>ul li:nth-of-type(1) {
	border-radius: 10px 10px 0 0;
}

body>nav>ul>li:nth-of-type(2)>ul li:nth-of-type(2) {
	border-radius: 0 0 10px 10px;

}

nav:nth-of-type(1) {
	padding-top: 1em;
}

@media (min-width:1024px) {}

/********* FOOTER *********/

@media(max-width:768px) {

	footer {
		background-color: #004C4C;
		color: white;
		padding-top: 2rem;
		margin-inline: auto;
	}

	footer div{
		background-color: #003737;
	}

	footer section {
		margin-left: auto;
		margin-right: auto;
		max-width: 90%;
		border-radius: .5em;
		margin-bottom: 4rem;
	}

	footer section svg {
		max-width: 1.5em;
		stroke: none;
		fill: #ffffff;
		margin-left: auto;
		transition: all 0.15s ease-in-out;
	}

	footer section svg path {
		fill: white;
	}

	footer section ul {
		font-size: small;
		list-style-type: none;
		display: flex;
		flex-direction: column;
		gap: 1.1em;
		align-items: start;
		max-width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	footer section ul li {
		width: 100%;
		list-style: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		line-height: 1.5rem;
	}

	footer section a:hover svg {
		translate: .25em 0;
	}

	footer section a {
		display: grid;
		grid-template-columns: 2em auto;
		align-items: center;
		font-size: 8px;
		color: white;
		font-size: larger;
		text-decoration: underline;
		text-underline-offset: .3em;
		gap: .5em;
		width: 100%;
	}

	footer img {
		width: 1rem;
	}
}

@media(min-width:768px) {
	footer {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 10px;
		background-color: #004C4C;
		color: white;
		padding-top: 2rem;
		margin-inline: auto;
	}

	footer>section:nth-of-type(1) {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-start: 1;
	}

	footer>section:nth-of-type(2) {
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 1;
		grid-row-start: 1;
	}

	footer>section:nth-of-type(3) {
		grid-column: 1;
		grid-row: 2;
	}

	footer>section:nth-of-type(4) {
		grid-column: 2;
		grid-row: 2;
	}

	footer>section:nth-of-type(5) {
		grid-column: 3;
		grid-row: 2;
	}

	footer>section:nth-of-type(6) {
		grid-column: 4;
		grid-row: 2;
	}



	footer section {
		margin-left: auto;
		margin-right: auto;
		max-width: 90%;
		border-radius: .5em;
		margin-bottom: 4rem;
	}

	footer section svg {
		max-width: 1.5em;
		stroke: none;
		fill: #ffffff;
		margin-left: auto;
		transition: all 0.15s ease-in-out;

	}

	footer section svg path {
		fill: white;
	}

	footer section ul {
		font-size: small;
		list-style-type: none;
		display: flex;
		flex-direction: column;
		gap: 1.1em;
		align-items: start;
		max-width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	footer section ul li {
		width: 100%;
		list-style: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		line-height: 1.5rem;
	}

	footer section a:hover svg {
		translate: .25em 0;
	}

	footer section a {
		display: grid;
		grid-template-columns: 2em auto;
		align-items: center;
		font-size: 8px;
		color: white;
		font-size: larger;
		text-decoration: underline;
		text-underline-offset: .3em;
		gap: .5em;
		width: 100%;
	}


	footer img {
		width: 1rem;
	}
}