/*********************/
/* CUSTOM PROPERTIES */
/*********************/
@import url(main.css);



:root {
	/* startje */
	--color-text: #222222;
	--color-background: #eee;
	--abn-darkgreen: #004C4C;
	--altbutton-color: #FFD200;
	--article-line-height: 24px;
	font-family: abnamrosans;
	background-color: #f3f3f3;
}




/****************/
/* JOUW STYLING */
/****************/

body {
	margin: 0;
	padding-inline: 1rem;
}

ul {
	list-style: none;
}

main>section:first-of-type {
	position: relative;
	display: flex;
	justify-content: center;
	height: 400px;
}

/* 
main>section:first-of-type div{
padding:1%;
} */

/****************/
/* titel banner met grote foto*/
/****************/
@media (min-width: 270px) {
	main>section:first-of-type {
		margin-inline: 0;
	}

	main>section:first-of-type div {
		background-color: var(--abn-darkgreen);
		border-radius: 10px;
		padding: 4%;
		margin-bottom: 0;
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 40%;
		width: 90vw;
		height: auto;
	}

	main>section:first-of-type div h2 {
		font-family: Abnamrosans;
		font-weight: 500;
		font-size: xx-large;
		color: white;
		margin: 0;
	}

	main>section:first-of-type div a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 2.5rem;
		color: black;
		background-color: #ffd200;
		font-size: 1rem;
		font-weight: 575;
		border-style: none;
		border-radius: 10px;
		margin-left: auto;
		margin-right: auto;
	}

	main>section:first-of-type div p {
		color: #ffffff;


	}

	main>section:first-of-type img {
		position: relative;
		margin-inline: auto;
		width: 100vw;
		height: 200px;
		object-fit: cover;
	}
}

@media (min-width: 1032px) {
	main>section:first-of-type div {
		background-color: transparent;
	}

	main>section:first-of-type img {
		height: 100%;
	}

	main>section:first-of-type div a {
		max-width: 10rem;
		margin-inline: 0;
	}
}

/****************/
/* Search bar */
/****************/
main>section:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-bottom: 1em;
	background-color: white;
	margin-inline: auto;
	margin-block-start: 3rem;
	border-radius: 10px;
	padding: 1em;
}



main>section:nth-of-type(2) h2 {
	font-weight: 500;
	margin: none;
}

main>section:nth-of-type(2) p {
	font-size: 20px;
	margin: none;

}

main>section:nth-of-type(2) input {
	border-style: none;
	color: #6c6c6c;
	background-color: #e9e9e9;
	font-family: abnamrosans;
	font-size: large;
	height: 2.5em;
	width: 100%;
	border-radius: 5px;
}

@media (min-width: 1032px) {
	main>section:nth-of-type(2) {
		max-width: 70%;
		margin-inline: auto;
	}

	main>section:nth-of-type(2) input {
		margin-inline: 0;
	}
}

/****************/
/* lijst met link buttons en icoontjes (direct onder search bar */
/****************/


@media (min-width: 270px) {

	/*mobile*/
	main>section:nth-of-type(3) svg {
		max-width: 1.5em;
		stroke: none;
		fill: #6c6c6c;
		margin-left: auto;
		transition: all 0.15s ease-in-out;
	}

	main>section:nth-of-type(3) ul li a:hover svg {
		translate: .25em 0;
	}

	main>section:nth-of-type(3) svg path {
		fill: #6c6c6c;

	}

	main>section:nth-of-type(3) ul {
		list-style-type: none;
		display: flex;
		flex-direction: column;
		gap: 1em;
		align-items: center;
		max-width: 100%;
		margin: 0;
		padding: 0;
	}

	main>section:nth-of-type(3) ul li {
		background-color: white;
		border-radius: .5rem;
		width: 100%;
	}

	main>section:nth-of-type(3) ul li a {
		color: var(--abn-darkgreen);
		font-size: larger;
		display: flex;
		align-items: center;
		text-decoration: none;
		border-radius: .5rem;
		padding: 1em;
	}

	main>section:nth-of-type(3) ul li a img {
		width: 4rem;
	}

	main>section:nth-of-type(3) ul li a:hover {
		background-color: #c8c8c8;
	}




	main>section:nth-of-type(3) {
		margin-left: auto;
		margin-right: auto;
		max-width: 90%;
		border-radius: .5em;
		margin-bottom: 4rem;
		margin-block-start: 3rem;
	}
}

@media (min-width:768px) {

	/*tablet*/

	main>section:nth-of-type(3) ul {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		gap: 1em;
		max-width: 100%;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		justify-items: center;
		align-items: center;
	}

	main>section:nth-of-type(3) ul li {
		background-color: white;
		border-radius: .5rem;
		flex-basis: 45%;
		flex-grow: 1;
	}


}

@media (min-width:1024px) {
	main>section:nth-of-type(3) ul {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		gap: 1em;
		max-width: 100%;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		justify-items: center;
		align-items: center;
	}

	main>section:nth-of-type(3) ul li {
		background-color: white;
		border-radius: .5rem;
		flex-basis: 20%;
		flex-grow: 1;
	}

}


/****************/
/* lijst met links */
/****************/

@media (min-width:270px) {

	/*phone*/
	main>div:nth-of-type(1) {
		max-width: 90%;
		margin: 0 auto 1.5em;
		display: grid;
		grid-template-columns: 1fr;
		gap: 1.5em;
	}

	main>div:nth-of-type(1)>section {
		width: 90%;
		display: flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		background-color: rgb(255, 255, 255);
		padding: 1em;
		border-radius: .5rem;
		margin-bottom: 1.5em;
	}



	main>div:nth-of-type(1)>section h2,
	main>div:nth-of-type(1)>section ul {
		margin: 0;
	}

	main>div:nth-of-type(1)>section>img {
		width: 4em;
		order: 1;
	}

	main>div:nth-of-type(1)>section>h2 {
		order: 2;
	}

	main>div:nth-of-type(1)>section ul {
		display: flex;
		flex-direction: column;
		justify-items: center;
		order: 3;
		padding: 0;
		gap: .5em;
	}

	main>div:nth-of-type(1)>section svg {
		transition: all 0.15s ease-in-out;
	}

	main>div:nth-of-type(1)>section ul li {
		display: flex;
		align-items: center;
	}

	main>div:nth-of-type(1)>section ul li a {
		display: grid;
		grid-template-columns: 2em auto;
		align-items: center;
		text-decoration: underline;
		text-underline-offset: .4em;
		color: var(--abn-darkgreen);
	}

	main>div:nth-of-type(1)>section ul li a:hover svg {
		translate: .25em 0;
	}

	main>div:nth-of-type(1)>section ul img {
		grid-column: 1;
		width: 1.5em;
	}
}

@media (min-width: 768px) {
	main>div:nth-of-type(1) {
		max-width: 90%;
		margin: 0 auto 1.5em;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 1em;
	}

	main>div:nth-of-type(1)>section:nth-child(3) {
		flex-basis: 45%;
		margin-left: 2%;
	}

	main>div:nth-of-type(1)>section {
		flex-basis: 100%;
		max-width: 45%;
		margin-left: auto;
		margin-right: auto;
		background-color: rgb(255, 255, 255);
		padding: 1em;
		border-radius: .5rem;
		margin-bottom: 1.5em;
	}





}

@media (min-width: 1024px) {
	main>div:nth-of-type(1) {
		max-width: 90%;
		margin: 0 auto 1.5em;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		gap: 1em;
	}

	main>div:nth-of-type(1)>section:nth-child(3) {
		flex-basis: 32%;
		margin-left: 0;
	}

	main>div:nth-of-type(1)>section {
		flex-basis: 32%;
		margin-left: 0;
		margin-right: 0;
		background-color: rgb(255, 255, 255);
		padding: 1em;
		border-radius: .5rem;
		margin-bottom: 1.5em;
	}
}

/**************************************/
/* artikelen over diverse onderwerpen */
/**************************************/
/* @media(min-width:768)
@media(min-width:1024) */
@media(min-width:270px) {

	main>section:nth-last-of-type(2) {
		max-width: 90%;
		display: flex;
		flex-direction: column-reverse;
		margin-left: auto;
		margin-right: auto;
		background-color: transparent;
		border-radius: .5rem;
		margin-bottom: 1.5em;
		overflow: hidden;
		align-items: center;
		margin-bottom: 2rem;
	}



	main>section:nth-last-of-type(2) article {
		height: 100%;
		margin-block: .5rem;
	}

	main>section:nth-last-of-type(2) article button {
		margin-top: 1em;
	}

	main>section:nth-last-of-type(2) article h3,
	main>section:nth-last-of-type(2) article p {
		margin-block: 0;
	}

	main>section:nth-last-of-type(2) article p {
		font-size: medium;
	}

	main>section:nth-last-of-type(2) img {
		order: 1;
		display: block;
		max-width: 100%;
		border-radius: 1.5vmax;

	}

	main>section:nth-last-of-type(1) h2 {
		margin-inline-start: 1em;
	}

	main>section:nth-last-of-type(1) h3,
	main>section:nth-last-of-type(1) p {
		margin-inline: 5%;
		padding: 0;
		margin-bottom: 0;
		margin-top: .5em;
	}


	main>section:nth-last-of-type(1) article img {
		order: 1;
	}

	main>section:nth-last-of-type(2) h2,
	main>section:nth-last-of-type(1) article h3 {
		order: 2;
	}

	main>section:nth-last-of-type(2) p,
	main>section:nth-last-of-type(1) article p {
		order: 3;
		line-height: var(--article-line-height);
	}

	main>section:nth-last-of-type(2) button,
	main>section:nth-last-of-type(1) article button {
		order: 4;
		color: white;
		width: max-content;
		width: 90%;
		padding: .75em;
		background-color: var(--abn-darkgreen);
		font-size: 1rem;
		font-weight: 550;
		border-style: none;
		border-radius: 10px;
		margin-left: auto;
		margin-right: auto;
	}

	main>section:nth-last-of-type(1) {
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	main>section:nth-last-of-type(1) article button {
		margin: 5%;
	}

	main>section:nth-last-of-type(1) article {
		max-width: 90%;
		display: flex;
		flex-direction: column;
		margin-inline: auto;
		justify-content: center;
		border-radius: .5rem;
		margin-bottom: 1.5em;
		overflow: hidden;
		background-color: white;
	}

	main>section:nth-last-of-type(1) ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0;
		list-style: none;
		width: 100%;
	}

	main>section:nth-last-of-type(1) ul li {
		margin-inline: auto;
		margin-left: auto;
		margin-right: auto;

	}
}

@media(min-width:768px) {
	main>section:nth-last-of-type(1) {
		display: flex;
		flex-direction: column;
		gap: 1em;
		padding-top: 2rem;
	}

	main>section:nth-last-of-type(1) h2 {
		align-self: center;
		font-size: xx-large;
	}

	main>section:nth-last-of-type(1) article {
		justify-content: space-between;
		height: 35rem;
		background-color: white;
		width: 100%;
		/* padding:1em; */
	}

	main>section:nth-last-of-type(1) ul {
		display: flex;
		flex-direction: row;
		gap: 1em;
		list-style: none;
	}

	main>section:nth-last-of-type(1) li {
		width: fit-content;
	}

	main>section:nth-last-of-type(1) article img {
		width: 100%;
		height: 30%;
		object-fit: cover;
		display: block;
		margin: 0;
		padding: 0;
	}

	main>section:nth-last-of-type(1) article p {
		justify-self: start;
		flex-basis: 100%;
		margin-inline: 5%;
		margin-top: .25em;
	}



	main>section:nth-last-of-type(2) {
		background-color: transparent;
	}

	main>section:nth-last-of-type(2) h2 {
		font-size: xx-large;
		font-weight: light;
	}

	main>section:nth-last-of-type(2) img {
		width: 45%;
		margin-right: auto;
		border-radius: 6%;
		order: 1;
	}

	main>section:nth-last-of-type(2) {
		flex-direction: row-reverse;
		gap: 1em;
	}

	main>section:nth-last-of-type(2) div {
		width: 45vw;
	}


}























/*dark mode*/
@media (prefers-color-scheme: dark) {
	:root {
		--color-text: #0e262c;
		--color-background: #0e2525;
		background-color: #0e2525;
		color: #eee;
	}

	a {
		color: #eee;
	}

	li a {
		color: #eee;
	}

	nav>img:nth-of-type(1) {
		content: url("../images/home/ABNamro_dark.png")
	}

	nav ul li button {
		color: #eee
	}

	nav ul li svg path,
	nav ul li svg {
		fill: #eee;
	}

	/* #004C4C */

	main>section:nth-of-type(2) {
		background-color: transparent;
	}

	main>section:nth-of-type(3) ul li {
		background-color: #579493;
	}

	main>section:nth-of-type(3) ul li a {
		color: #0e262c;
	}



	main>div:nth-of-type(1)>section {
		background-color: #004C4C;
	}

	main>div:nth-of-type(1)>section svg path {
		fill: #000000;
	}

	main>div:nth-of-type(1)>section ul li a {
		color: #eee;
	}

	main>div:nth-of-type(1)>section ul li svg path {
		fill: #eee;
	}

	main>section:nth-of-type(4) button {
		background-color: #579493;
	}

	main>section:nth-of-type(5) ul li article {
		background-color: #579493;
	}

	main>section:nth-of-type(5) ul li article button {
		background-color: #0e2525;
	}

	main>section:nth-of-type(5) ul li article p,
	main>section:nth-of-type(5) ul li article h3 {
		color: #0e262c;
	}
}

html,
body {
	overflow-x: hidden;
	max-width: 100%;
}

section,
nav {
	margin: .75em;
}

body {
	padding: 0
}